.category-container {
    display: grid;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
    grid-template-columns: repeat (4, 1fr);
};

.category-title {
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
}